.landing-page .entry-content {
  margin-top: var(--marginTop) !important;
  margin-Bottom: var(--marginBottom) !important;
}
.landing-page main#site-content {
  position: relative;
  top: 0px !important;
  margin-bottom: 0px !important;
}
.landing-page .slider-wrapper {
  position: relative !important;
  margin-top: -120px !important;
}
.landing-page .slider-wrapper img {
  object-fit: fill !important;
}
.landing-page .slider-wrapper .caption {
  text-align: center;
}
.landing-page .slider-wrapper .caption h2 {
  color: var(--whiteColor);
  display: inline-block;
  font-size: 4rem;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,0.6); */
}
.landing-page .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--largeWidth);
  max-width: var(--largeMaxWidth);
  margin-left: auto !important;
  margin-right: auto !important;
}
.landing-page .slider-wrapper {
  position: absolute !important;
  margin-top: -120px !important;
  width: 100%;
  height: auto;
  max-height: 600px !important;
  display: inline-block;
}
.landing-page .slider-wrapper img {
  max-height: 600px !important;
  object-fit: fill !important;
}
.landing-page .slider-wrapper::after {
  max-height: 600px !important;
}
.landing-page .post-inner {
  width: 100% !important;
  max-width: 100% !important;
  /* margin-top: 0% !important; */
  /* padding-top: 0% !important; */
  position: relative;
  top: 110vh;
}
#site-content > div.slider-wrapper > div > div > h2 {
  position: relative;
}
#site-content > div.slider-wrapper > div:nth-child(2) > div > h2 {
  top: 200px;
}
#site-content > div.slider-wrapper > div:nth-child(4) > div > h2 {
  top: 100px;
}
#site-content > div.slider-wrapper > div:nth-child(6) > div > h2 {
  top: -100px;
}
#site-content > div.slider-wrapper > div:nth-child(8) > div > h2 {
  bottom: 100px;
}
@media (max-width: 600px) {
  .landing-page .row {
    display: block;
  }
  .landing-page .row .column {
    margin: 0px !important;
  }
}
.landing-page .row .column {
  width: 100%;
  margin: 1rem;
}
.landing-page .row .column h3 a {
  color: var(--primaryColor);
  font-size: 2rem;
  text-decoration: none;
}
.landing-page strong {
  color: var(--primaryColor);
}
